* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
input,
button {
    font-family: var(--montserrat);
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--inter);
    text-transform: uppercase;
    margin: 0;
}
p {
    margin: 0;
    font-size: 1rem;
}
a {
    color: #000000;
}
a:hover {
    opacity: 0.5;
}
.contentItem {
    display: flex;
    flex-direction: column;
}
.uc {
    text-transform: uppercase;
}
