.title {
    letter-spacing: -0.06em;
    font-weight: 900;
    font-size: clamp(2.5rem, -0.2083rem + 12.381vw, 10.625rem);
    line-height: 0.8em;
}
.title span {
    opacity: 0.4;
}
.title span:hover {
    opacity: 1;
}
.subtitle {
    font-size: 1.5rem;
    letter-spacing: -0.06em;
    font-weight: 900;
}

.sectionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.content4 {
    grid-column: 4 / span 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.content3 {
    grid-column: 3 / span 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.content1 {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.contentColumns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contentItem {
    display: flex;
    flex-direction: column;
}
@media (max-width: 1024px) {
    .sectionGrid {
        grid-template-columns: 1fr 1fr;
    }
    .content4 {
        grid-column: 2 / span 1;
    }
    .content3 {
        grid-column: 2 / span 1;
    }
    .content1 {
        grid-template-columns: 1fr;
    }
    .contentColumns {
        grid-template-columns: 1fr;
    }
    .contentItem {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 768px) {
    .sectionGrid {
        grid-template-columns: 1fr;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
    }
    .content4 {
        grid-column: 1 / span 1;
    }
    .content3 {
        grid-column: 1 / span 1;
    }
    .content1 {
        grid-template-columns: 1fr;
    }
    .contentColumns {
        grid-template-columns: 1fr;
    }
    .contentItem {
        grid-template-columns: 1fr;
    }
}
